html,
body {
  text-align: center;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bgGroup {
  position: absolute;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  z-index: -1;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.viewBorderTop,
.viewBorderBottom {
  position: fixed;
  background-color: black;
  opacity: 0.65;
  left: 0;
  padding: 0;
  margin: 0;
}

.viewBorderTop {
  height: 55vh;
  top: 0;
  width: 100vw;
}

.viewBorderBottom {
  top: 80vh;
  width: 100vw;
  height: 20vh;
}
.bgImage {
  position: absolute;
  overflow: hidden;
  top: -50%;
  left: -50%;
  bottom: -50%;
  right: -50%;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
}

.derelictStar {
  margin-top: 2rem;
}

h3,
p {
  position: relative;
  z-index: 1;
  padding: 0 2rem;
  margin: 0.5rem 0;
}

.scrollingText {
  padding: 1rem;
  max-width: 65vw;
  // background-color: rgba(0, 0, 0, 0.65);
  // border-radius: 20px;
}

.animatedIntro {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  top: 0;
  overflow: hidden;
  //left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blackbg1 12s;
  opacity: 0;
}

#caretaker {
  overflow: hidden;
  animation: caretaker1 8s;
  opacity: 0;
  margin-top: 40vh;
  width: auto;
  height: 10vh;
}

@keyframes blackbg1 {
  0% {
    opacity: 1;
    z-index: 100;
  }
  68% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 100;
  }
}

@keyframes caretaker1 {
  0% {
    opacity: 0.2;
    height: 20vh;
  }
  10% {
    opacity: 0.2;
  }
  25% {
    opacity: 0;
    height: 20vh;
  }
  26% {
    opacity: 0;
  }
  27% {
    opacity: 0.4;
    height: 50vh;
  }
  35% {
    opacity: 0.4;
  }
  50% {
    opacity: 0;
    height: 50vh;
  }
  51% {
    height: 170vh;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 170vh;
  }
}
