html,
body {
  text-align: center;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 200vw;
  overflow: hidden;
}

.flavorText {
  position: relative;
  z-index: 10;
  width: 50vw;
  margin: auto;

  margin-top: 3rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: 100;
  color: rgb(150, 225, 255);
}

.bgGroup {
  position: absolute;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  z-index: -1;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  // width: 100vw;
  // height: 100vh;
}

.carrier {
  position: absolute;
  transform: rotate(-20deg);
  top: 160vh;
  left: 160vw;
  z-index: 0;
}
// .viewBorderTop,
// .viewBorderBottom {
//   position: fixed;
//   background-color: black;
//   opacity: 0.65;
//   left: 0;
//   padding: 0;
//   margin: 0;
//   z-index: 1;
// }

// .viewBorderTop {
//   height: 65vh;
//   top: 0;
//   width: 100vw;
// }

// .viewBorderBottom {
//   top: 90vh;
//   width: 100vw;
//   height: 20vh;
// }
.bgImage {
  position: absolute;
  //overflow: hidden;
  // top: -100%;
  // left: -100%;
  // bottom: -100%;
  // right: -100%;
  top: 0;
  left: 0;
  min-width: 200vw;
  min-height: 200vh;
  margin: auto;
}

.centeredStuff {
  position: fixed;
  z-index: 12;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.derelictStar {
  margin-top: 4rem;
  position: relative;
  z-index: 10;
  transform: scale(1.5);
  // min-width: 30vw;
  // max-width: 200%;
}

h3,
p {
  position: relative;
  z-index: 10;
  padding: 0 2rem;
  margin: 0.5rem 0;
}

p {
  font-size: 1.2rem;
}

.scrollingText {
  padding: 1rem;
  max-width: 65vw;
  // background-color: rgba(0, 0, 0, 0.65);
  // border-radius: 20px;
}

.animatedIntro {
  // position: absolute;
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  top: 0;
  overflow: hidden;
  //left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blackbg1 6s;
  opacity: 0;
}

#caretaker {
  overflow: hidden;
  animation: caretaker1 4s;
  animation-timing-function: linear;
  opacity: 0;
  margin-top: 40vh;
  width: auto;
  height: 10vh;
}

@keyframes blackbg1 {
  0% {
    opacity: 1;
    z-index: 100;
  }
  68% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 100;
  }
}

@keyframes caretaker1 {
  0% {
    opacity: 0.2;
    height: 40vh;
  }
  25% {
    opacity: 0.2;
  }
  // 25% {
  //   // opacity: 0;
  //   height: 20vh;
  // }
  50% {
    height: 40vh;
    opacity: 0;
  }
  51% {
    opacity: 0.4;
    height: 80vh;
  }
  61% {
    opacity: 0;
    height: 80vh;
  }
  62% {
    opacity: 1;
    height: 170vh;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 170vh;
  }
}
