.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
}

.panel,
.lightButton {
  position: fixed;
  margin-left: -50px;
  margin-top: 1vh;
  transform: scale(0.9);
}

.lightButton {
  z-index: 52;
  margin-top: -1.2vh;
  opacity: 0;
}
