.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
}

.backPanel1 {
  height: 20vh;
  width: 20vw;
  background-color: gray;
  border-radius: 30px;
  border-style: ridge;
}
